In [12]:
import sqlite3

In [13]:
#Connect to the local database ('unit8.db')

connection = sqlite3.connect('unit8.db')
cursor = connection.cursor()

In [23]:
#write and execute the query

query = ('''WITH recs AS
(SELECT m1.memid AS rec_id, m1.surname AS rec_surname,m1.firstname AS rec_firstname
FROM Members as m1
INNER JOIN Members as m2
ON m1.memid = m2.recommendedby
)

SELECT DISTINCT surname AS Member_surname, firstname AS Member_first_name, rec_surname AS Recommended_by_surname ,rec_firstname AS Recommended_by_first_name
FROM Members
INNER JOIN recs
ON Members.recommendedby = recs.rec_id
WHERE Members.memid <> 0
AND recs.rec_id <> 0
ORDER BY Member_surname''')

cursor.execute(query)

In [24]:
#Fetch and print

result = cursor.fetchall()

for row in result:
    print(row)

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')